{{- range .Files}}
{{$table := newTable true}}

{{- .Path | underline | indent 1 -}}

{{- range .Alerts -}}

{{- $error := "" -}}
{{- if eq .Severity "error" -}}
  {{- $error = .Severity | red -}}
{{- else if eq .Severity "warning" -}}
  {{- $error = .Severity | yellow -}}
{{- else -}}
  {{- $error = .Severity | blue -}}
{{- end}}

{{- $loc := printf "%d:%d" .Line (index .Span 0) -}}
{{- $row := list $loc $error .Message .Check | toStrings -}}

{{- $table = addRow $table $row -}}
{{end -}}

{{- $table = renderTable $table -}}
{{end -}}
